# Mobile Environment Variables

# API
EXPO_PUBLIC_API_URL="http://172.21.144.1>:3000"
EXPO_PUBLIC_API_TIMEOUT=30000

# Socket.IO
EXPO_PUBLIC_SOCKET_URL="http://172.21.144.1:3000"

# Notifiche Push (opzionale)
EXPO_PUBLIC_EXPO_PROJECT_ID="your-expo-project-id"

# Auth
EXPO_PUBLIC_JWT_STORAGE_KEY="fields_jwt_token"
